In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/will/galvanize/ethereum_clustering/prices.csv')

In [10]:
df.head(20)

    Date(UTC)  UnixTimeStamp  Value
0   7/30/2015     1438214400   0.00
1   7/31/2015     1438300800   0.00
2    8/1/2015     1438387200   0.00
3    8/2/2015     1438473600   0.00
4    8/3/2015     1438560000   0.00
5    8/4/2015     1438646400   0.00
6    8/5/2015     1438732800   0.00
7    8/6/2015     1438819200   0.00
8    8/7/2015     1438905600   3.00
9    8/8/2015     1438992000   1.20
10   8/9/2015     1439078400   1.20
11  8/10/2015     1439164800   0.00
12  8/11/2015     1439251200   0.99
13  8/12/2015     1439337600   1.29
14  8/13/2015     1439424000   1.88
15  8/14/2015     1439510400   1.79
16  8/15/2015     1439596800   1.79
17  8/17/2015     1439769600   1.30
18  8/16/2015     1439683200   1.37
19  8/18/2015     1439856000   1.36